
---
<div class="container my-4 about-contents">
  <h1 class="display-1">Life in Stereoscope</h1>
  <h1 class="display-5">Viewable Vistas, Labor and Family Life</h1>
{{ content }}
{% include feature/image.html objectid="sg007;sg022i;sg015" %}
</div>
<body>Before virtual reality, before 3D technology as we know it today, there was stereography. 
A social activity, an educational tool, and one of the earliest forms of commercial photography, this technology was once so popular it’s said that, by the late 19th century, almost every American home owned a stereoscope and its accompanying stereoviews.

Stereographs work similarly to the way our eyes and brains do. 
By placing two nearly identical photos next to each other and viewing them through a stereoscope, the pair converge into a singular, three-dimensional image. 
With just a stereoscope and a few stereocards, you could travel the world, learn about natural disasters and political conflicts, or glimpse into the lives of people thousands of miles away. 
All without ever leaving your home!

The stereoviews on display in this collection were selected from the iSchool’s teaching collection.
Each speaks to a different way this technology was used – to travel the globe, understand the labor movement, and view the domestic lives of those photographed.
By allowing viewers to do more than just look at a photograph, but to feel immersed in one, stereographs fundamentally changed the way people saw and understood the world around them.
</body>



